.main_body {
  text-align: center;
  align-content: center;
  align-items: center;
}

.header_body {
  color: white;
  background-color: brown;
  display: flex;
  justify-content: space-between;
}

.mylinks {
  display: flex;
  text-align: center;
  align-items: center;
  align-content: center;
}

a {
  margin: 5px;
}

.home_button{
  align-content: center;
}

a{
  text-decoration: none;
  color: white;
}

.navitem{
  color: white;
  padding: 5px;
  text-decoration: none;
}

.navitem:hover{
  background-color: black;
}

.items_nav{
  display: flex;
  flex-direction: row;
}
