<div class="tbstyle">
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="users">
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef id="head-title">Name</th>
        <td mat-cell *matCellDef="let element">{{ element.userName }}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef id="head-title">Email</th>
        <td mat-cell *matCellDef="let element">{{ element.email }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        (click)="takeId($event)"
        mat-row
        *matRowDef="let row; columns: displayedColumns"
      ></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[2, 4]"></mat-paginator>
  </div>
</div>
