table {
  width: 100%;
}

#head-title {
  align-items: center;
  align-content: center;
  text-align: center;
}

.tbstyle {
  padding: 50px;
}

#user_entry{
  margin: 15px;
}

tr.mat-row:hover{
  background-color:#72624d;
  cursor: pointer;
  color: white !important;
}






