/* You can add global styles to this file, and also import other style files */
.centerallign {
    align-items: center;
    align-content: center;
    text-align: center;
}

.indexstyle {
    border-radius: 50%;
    background-color: aqua;
    text-align: center;
    align-content: center;
    align-items: center;
    display: inline;
}

.paginated {
    display: inline;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
